<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body ng-app="BossApp">
  <nav>
    <p>navbar</p>
  </nav>
  <main>
    <div ui-view></div>
  </main>
  <footer>

  </footer>
  <!-- Library Scripts -->
  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/materialize-css/dist/js/materialize.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>

  <!-- Custom Scripts -->
  <script src="app/all.min.js"></script>
</body>
</html>